@charset "utf-8";
/* CSS Document */

.in{width:50%; height:100%; margin:0 auto; }
.in .center_1{width:100%; height:100%; float:left; margin-top:3%; margin-left:10%; }
/* 下一步按钮*/
.in_next{ float:left; width:50%;margin-top:15px;margin:2% 0 0 25%;}
.in_next .finish_left{ float:left;cursor:pointer; margin:15px 0 0 0; display:inherit;}
.in_next .finish_right{ float:right;cursor:pointer; margin:15px 0 0 0; display:inherit;}