@charset "utf-8";
/* CSS Document */
.component_selection{width:70%; height:100%; margin:0 0 0 20%; }
.component_selection .center_1{width:100%; height:450px; background:#fff; float:left;border-radius:50px; margin-top:2%;word-wrap: break-word;box-shadow:5px 5px 5px #dddddd; border:2px #efefef solid; padding:0 0 8% 0}
.component_selection .center_1 p{padding:10px;}
.component_selection .center_1 .input_yuanjiao{ border-radius:50px;  width:80%; padding:0 20px 0 20px; height:45px; border:2px solid #cfeefb;}
.component_selection .center_1 .box-shadow-3{ border:2px #c4e9f9 solid;}
.component_selection .center_1 .box-shadow-2{ -webkit-box-shadow:0 0 20px #d5f0fb; -moz-box-shadow:0 0 20px #d5f0fb; box-shadow:0 0 20px #d5f0fb;}
.component_selection .center_1 .box-shadow-1{ -webkit-box-shadow: 5px 5px 5px #e3e3e3x;  -moz-box-shadow: 5px 5px 5px #e3e3e3x;  box-shadow: 5px 5px 5px #e3e3e3 ;}
.component_selection .center_1 .input_font_blue{ font-size:18px; color:#3178c6; margin:0 0 0 20px; }
.component_selection .center_1 .input_move{float:left;margin:1% 0 0 3%;  width:21%; height:180px;border-radius:25px; background:#f4f4f4; display:inline;  z-index:10;}
.component_selection .center_1 .input_movew{float:left;margin:1% 0 0 3%;  width:21%; height:180px;border-radius:25px; background:#fff; display:inline; cursor:pointer;}
.component_selection .center_1 .bg_red{float:left;margin:1% 0 0 3%;  width:21%; height:180px;border-radius:25px; background:#f36e5d; display:inline;  z-index:10; color:#fff;}
.component_selection .center_1 .bg_yellow{float:left;margin:1% 0 0 3%;  width:21%; height:180px;border-radius:25px; background:#f9ea99; display:inline;  z-index:10; color:#000;}
.component_selection .center_1 .bg_green{float:left;margin:1% 0 0 3%;  width:21%; height:180px;border-radius:25px; background:#88cb5a; display:inline;  z-index:10; color:#fff;}
.input_radius{ border-radius:30px; width:688px; height:45px; border:1px solid #c4e9f9; padding:0 20px 0 20px;}
.component_selection .center_1 .input_radius1{ border-radius:30px; border:2px solid #f2f2f2; padding:0 20px 0 20px;}
.note{ width:50%; float:left; margin:18px 0 0 25%; color:#3378c3; font-size:12px; text-align:center;font-weight:bold;}
.bottom_if{float:right;width:100%; margin:0 0 0 0;}
.next_button{ float:right;width:100%; height:40px; margin-top:0; }
.next_button .finish_1{width:10%; height:40px; border-radius:10px; background:#38b7ea; margin:3% 18% 0 auto; line-height:40px; text-align:center; font-size:1em; font-weight:bold; color:#fff;transform:skew(-30deg); cursor:pointer; }
.next_button .finish_2{transform:skew(30deg); }
.title_box{ float:left; width:100%;}
.title_ip{ float:left; font-size:13px; margin:0 0 0 2%; line-height:0.5vw;}
.title_buttom{ float:right; margin:2% 2% 0 0;}
.title_box .buttom_type {float:left; width:165px; height:35px;transform:skew(-30deg); border-radius:10px; background:#38b7ea; color:#fff; font-size:16px; text-align:center; line-height:2vw; cursor:pointer; margin:0 0 0 10px;}
.title_box .buttom_type_text{transform:skew(30deg);}
.title_box .buttom_type_hui{float:left; width:165px; height:35px;transform:skew(-30deg); border-radius:10px; background:#f2f2f2; color:#010101; font-size:16px; text-align:center; line-height:2vw; cursor:pointer; margin:0 0 0 10px;}
.title_box .buttom_type_hui:hover{float:left; width:165px; height:35px;transform:skew(-30deg); border-radius:10px; background:#38b7ea; color:#fff; font-size:16px; text-align:center; line-height:2vw; cursor:pointer; margin:0 0 0 10px;}
.title_box .ico_jian_blue{ float:left; background:url(../images/jian_blue_x.png) no-repeat 0 7px; width:40%; height:10%; margin:10px 0 0 25%; padding:0 0 0 8%; font-size:0.9vw;}
.title_box .ico_add_blue{ float:left; background:url(../images/add_blue_x.png) no-repeat 0 1px; width:40%; height:10%; margin:10px 0 0 25%; padding:0 0 0 8%;font-size:0.9vw;}
.title_box .ico_add_hui{ float:left; background:url(../images/add_hui_x.png) no-repeat 0 7px; width:40%; height:10%; margin:10px 0 0 25%; padding:0 0 0 8%;font-size:0.9vw;}
.title_box .ico_jian_blue1{ float:left; background:url(../images/jian_blue_x.png) no-repeat 0 7px; width:40%; height:10%; margin:10px 0 0 5%; padding:0 0 0 8%; font-size:0.9vw;}
.title_box .ico_add_blue1{ float:left; background:url(../images/add_blue_x.png) no-repeat 0 1px; width:40%; height:10%; margin:10px 0 0 5%; padding:0 0 0 8%;font-size:0.9vw;}
.title_box .ico_add_hui1{ float:left; background:url(../images/add_hui_x.png) no-repeat 0 7px; width:40%; height:10%; margin:10px 0 0 5%; padding:0 0 0 8%;font-size:0.9vw;}
.input_left{ margin:0 0 0 61px}
.input_hide{ border:0px #fff solid; padding:0 5px 0 5px; margin:0 0 0 5px; width:60%}
.input_hide_hui{ border:0px #efeeed solid; padding:0 5px 0 5px; background:#f4f4f3; height:15px; vertical-align:middle; margin:0 0 0 5px;width:60%}
.input_hide_w{ border:0px #efeeed solid; padding:0 5px 0 5px; height:15px; vertical-align:middle; margin:0 0 0 5px;width:60%}
.input_hide_red{ border:0px #f36e5d solid; padding:0 5px 0 5px; height:15px; vertical-align:middle; margin:0 0 0 5px;width:60%; background:#f36e5d; color:#fff;}
.input_hide_yellow{ border:0px #f36e5d solid; padding:0 5px 0 5px; height:15px; vertical-align:middle; margin:0 0 0 5px;width:60%; background:#f9ea99; color:#000;}
.input_hide_green{ border:0px #f36e5d solid; padding:0 5px 0 5px; height:15px; vertical-align:middle; margin:0 0 0 5px;width:60%; background:#88cb5a; color:#fff;}
.title_box p{ float:left; line-height:5px; font-size:12px; clear:both;}
/*弹出层*/
.more_blue{ float:right; background:url(../images/more.png) no-repeat; width:36px; height:17px; margin:14px 15px 0px 0px; cursor:pointer; z-index:9999;}
.black_overlay{display: none;position: absolute;top: 0%;left: 0%;width: 100%;height: 100%;background-color: black;z-index:1001;-moz-opacity: 0.3;opacity:.30;filter: alpha(opacity=30);}
.white_content {display: none; position: absolute; top: 20%; left: 35%;width: 30%; height:350px;padding:10px 10px 20px 10px;border: 4px solid #38b7ea ;z-index:99999;border-radius:25px; background:#f4f4f4;}
.box_eject{ }
.box_close{ float:right; background:url(../images/close.png) no-repeat; width:20px; height:21px;}
.white_content .box_eject_border_bottom{border-bottom:1px #5dccf9 solid; padding-bottom:5px;}
.white_content .input_hide_hui_eject{ border:0px #efeeed solid; padding:0 5px 0 5px; background:#f4f4f3; height:15px; vertical-align:middle; margin:0 0 0 5px;width:70%; color:#2FABDD;}
.white_content p{ width:100%;float:left; line-height:5px; font-size:12px; clear:both;padding:10px; }
/*滚动条*/
#scroll-1{overflow-y:auto; height:95%; overflow-x:hidden; margin-top:5px;}
#scroll-1::-webkit-scrollbar {width:8px;height:8px;}
#scroll-1::-webkit-scrollbar-button{background-color:#a6e6ff;}
#scroll-1::-webkit-scrollbar-track{background:#a6e6ff;}
#scroll-1::-webkit-scrollbar-thumb{background:#5dccf9;border-radius:4px;}
#scroll-1::-webkit-scrollbar-corner {background:#a6e6ff;}
#scroll-1::-webkit-scrollbar-resizer{background:#a6e6ff;}
/*弹出层提交按钮*/
.submit_div{ float:right;background:#38b7ea; width:80px; height:30px; color:#fff; cursor:pointer; text-align:center; line-height:30px; transform:skew(-30deg); border-radius:5px; margin: 0 20px 10px 0;}
.submit_font{ transform:skew(30deg); font-size:14px;}
/*开始　&　停止按钮*/
/*开始　&　停止按钮*/
.start_button{ float:right; background:url(../images/start.png) no-repeat; width:8px; height:14px; margin:13px 10px 0px 0px; cursor:pointer; z-index:9999;}
.start_pause{ float:right; background:url(../images/pause.png) no-repeat; width:11px; height:14px; margin:13px 10px 0px 0px; cursor:pointer; z-index:9999;}
