@charset "utf-8";
/* CSS Document */
.component_selection{width:70%; height:100%; margin:0 0 0 20%; }
.component_selection .center_1{width:100%; height:400px; background:#fff; float:left;border-radius:50px; margin-top:2%;word-wrap: break-word;box-shadow:5px 5px 5px #dddddd; border:2px #efefef solid; padding:0 0 8% 0}
.component_selection .center_1 p{padding:10px;}
.component_selection .center_1 .input_yuanjiao{ border-radius:50px;  width:80%; padding:0 20px 0 20px; height:45px; border:2px solid #cfeefb;}
.component_selection .center_1 .box-shadow-3{ border:2px #c4e9f9 solid;}
.component_selection .center_1 .box-shadow-2{ -webkit-box-shadow:0 0 20px #d5f0fb; -moz-box-shadow:0 0 20px #d5f0fb; box-shadow:0 0 20px #d5f0fb;}
.component_selection .center_1 .box-shadow-1{ -webkit-box-shadow: 5px 5px 5px #e3e3e3x;  -moz-box-shadow: 5px 5px 5px #e3e3e3x;  box-shadow: 5px 5px 5px #e3e3e3 ;}
.component_selection .center_1 .input_font_blue{ font-size:18px; color:#3178c6; margin:0 0 0 20px; }
.component_selection .center_1 .input_move{float:left;margin:2% 0 0 3%;  width:21%; height:150px;border-radius:25px; background:#f4f4f4; display:inline; cursor:pointer;}
.component_selection .center_1 .input_movew{float:left;margin:2% 0 0 3%;  width:21%; height:150px;border-radius:25px; background:#fff; display:inline; cursor:pointer;}
.input_radius{ border-radius:30px; width:688px; height:45px; border:1px solid #c4e9f9; padding:0 20px 0 20px;}
.component_selection .center_1 .input_radius1{ border-radius:30px; border:2px solid #f2f2f2; padding:0 20px 0 20px;}
.note{ width:50%; float:left; margin:18px 0 0 25%; color:#3378c3; font-size:12px; text-align:center;font-weight:bold;}
.bottom_if{float:right;width:100%; margin:0 0 0 0;}
.next_button{ float:right;width:100%; height:40px; margin-top:0; }
.next_button .finish_1{width:10%; height:40px; border-radius:10px; background:#38b7ea; margin:3% 18% 0 auto; line-height:40px; text-align:center; font-size:1em; font-weight:bold; color:#fff;transform:skew(-30deg); cursor:pointer; }
.next_button .finish_2{transform:skew(30deg); }
.title_box{ float:left; width:100%;}
.title_ip{ float:left; font-size:13px; margin:0 0 0 2%; line-height:0.5vw;}
.title_buttom{ float:right; margin:2% 2% 0 0;}
.title_box .buttom_type {float:left; width:165px; height:35px;transform:skew(-30deg); border-radius:10px; background:#38b7ea; color:#fff; font-size:16px; text-align:center; line-height:2vw; cursor:pointer; margin:0 0 0 10px;}
.title_box .buttom_type_text{transform:skew(30deg);}
.title_box .buttom_type_hui{float:left; width:165px; height:35px;transform:skew(-30deg); border-radius:10px; background:#f2f2f2; color:#010101; font-size:16px; text-align:center; line-height:2vw; cursor:pointer; margin:0 0 0 10px;}
.title_box .buttom_type_hui:hover{float:left; width:165px; height:35px;transform:skew(-30deg); border-radius:10px; background:#38b7ea; color:#fff; font-size:16px; text-align:center; line-height:2vw; cursor:pointer; margin:0 0 0 10px;}
.title_box .ico_jian_blue{ float:left; background:url(../images/jian_blue_x.png) no-repeat 0 7px; width:50%; height:20%; margin:10px 0 0 25%; padding:0 0 0 8%; font-size:1vw;}
.title_box .ico_add_blue{ float:left; background:url(../images/add_blue_x.png) no-repeat 0 1px; width:50%; height:20%; margin:10px 0 0 25%; padding:0 0 0 8%;font-size:1vw;}
.title_box .ico_add_hui{ float:left; background:url(../images/add_hui_x.png) no-repeat 0 7px; width:50%; height:20%; margin:10px 0 0 25%; padding:0 0 0 8%;font-size:1vw;}
.input_left{ margin:0 0 0 61px}
.input_hide{ border:0px #fff solid; padding:0 5px 0 5px;}
.title_box p{ float:left; line-height:5px; font-size:12px; clear:both;}

