@charset "utf-8";
/* CSS Document */
.host{width:40%; height:100%; margin:0 auto; }
.host .center_1{width:100%; height:50%; background:#fff; float:left;border-radius:50px; margin-top:5%;word-wrap: break-word;box-shadow:5px 5px 5px #dddddd; border:2px #efefef solid; padding:0 0 8% 0}
.host .center_1 p{padding:10px;}
.host .center_1 .input_yuanjiao{ border-radius:50px;  width:80%; padding:0 20px 0 20px; height:45px; border:2px solid #cfeefb;outline:none}
.host .center_1 .box-shadow-2{ -webkit-box-shadow:0 0 20px #d5f0fb; -moz-box-shadow:0 0 20px #d5f0fb; box-shadow:0 0 20px #d5f0fb;}
.host .center_1 .box-shadow-1{ -webkit-box-shadow: 5px 5px 5px #e3e3e3x;  -moz-box-shadow: 5px 5px 5px #e3e3e3x;  box-shadow: 5px 5px 5px #e3e3e3 ;}
.host .center_1 .input_font_blue{ font-size:18px; color:#3178c6; margin:0 0 0 20px; }
.host .center_1 .input_move{margin:4% 0 0 10%;}
.input_radius{ border-radius:30px; width:688px; height:45px; border:1px solid #c4e9f9; padding:0 20px 0 20px;}
.host .center_1 .input_radius1{ border-radius:30px; border:2px solid #f2f2f2; padding:0 20px 0 20px;}
.note{ width:40%; float:left; margin:18px 0 0 30%; color:#3378c3; font-size:12px; text-align:center;font-weight:bold;}
.next_button{ float:right;width:100%; height:40px; margin-top:15px; }
.next_button .finish_1{width:10%; height:40px; border-radius:10px; background:#38b7ea; margin:3% 18% 0 auto; line-height:40px; text-align:center; font-size:1em; font-weight:bold; color:#fff;transform:skew(-30deg); cursor:pointer; }
.next_button .finish_2{transform:skew(30deg); }
