/* CSS Document */
*{margin:0px; padding:0px; list-style:none;}
body{font: normal 100% Helvetica, Arial,sans-serif "微软雅黑"; min-width:1280px;}
.logo{position:absolute; width:50%; height:0; z-index:9999;}
.logo .logo_sub1{width:50%; height:0; float:left; }
.logo .logo_sub2{width:100%; padding-bottom:}
.head{height:86px; width:100%; float:left;}



.nav{ position:relative;width:70%; height:59px; position:absolute; right:0px; top:27px;}
.nav .nav_bg{ position:absolute; background:#f2f2f2;height:59px; width:90%; right:0px; z-index:1}
.nav .nav_bg_line{ position:absolute; background: url(../images/line3.png) no-repeat;height:59px; width:90%; right:0px; z-index:9999; top:5px;}
.nav .nav1{float:left;  width:20%; height:59px; text-align:center; line-height:59px;color:#d9d9d9;transform:skew(-45deg); background:#f2f2f2;z-index:999; position:relative;}
.nav .nav1_sub1{float:left;  width:20%; height:59px; text-align:center; line-height:59px;color:#d9d9d9;transform:skew(-45deg); background:#f2f2f2;z-index:999; border-radius:10px;position:relative;}
.nav .nav1 span,.nav2 span,.nav1_sub1 span{ transform:skew(45deg); display:block;}
.nav .nav2{float:left; width:20%; height:59px; text-align:center; line-height:59px;color:#fff; transform:skew(-45deg); background:#38b7ea;z-index:999;border-radius:10px;position:relative;}
.main{width:100%; background:#fafafa; float:left; position:relative; padding:0 0 0 0;}
.mount{width:100%; height:80px; float:left; margin-top:27px;background:url(../images/top_bg.png) no-repeat; background-size:100% 100%; font-size:1.7em; font-weight:bold; line-height:65px; text-align:center; color:#646464;}
.schedule{width:70%; height:80px; margin:0 auto;}
.schedule .schedule_1{width:95%; height:30px; font-size:1.1em; float:left; padding-left:5%;line-height:30px;}
.schedule .schedule_2{width:100%; height:59px; background:#fff;transform:skew(-45deg); float:left; border-radius:10px;box-shadow:5px 5px 5px #dddddd; border:2px solid #efefef; margin-top:10px;}
.schedule .schedule_2_1{width:20%; height:59px; background:#38b7ea; float:left; border-radius:10px;}
.classify{width:65%; margin:0 auto;}
.kind{ float:left;margin-top:15px; width:100%;}
.type{ float:left;width:13%; height:45px; border-radius:13px; background:#C60; line-height:45px; text-align:center; font-size:1em;}
.breed{ float:left;width:13%; height:45px; border-radius:16px; background:#f2f2f2; line-height:45px; text-align:center; font-size:1em; margin-left:3%; margin-top:2%;}
.breed_red{ float:left;width:13%; height:45px; border-radius:16px; background:#fd6e5d; line-height:45px; text-align:center; font-size:1em; margin-left:3%;margin-top:2%;}
.breed_yellow{ float:left;width:13%; height:45px; border-radius:16px; background:#f9ea99; line-height:45px; text-align:center; font-size:1em; margin-left:3%;margin-top:2%;}
.breed_green{ float:left;width:13%; height:45px; border-radius:16px; background:#88cb58; line-height:45px; text-align:center; font-size:1em; margin-left:3%;margin-top:2%;}
.box-shadow-blue{ -webkit-box-shadow:0 0 20px #a2dcf4; -moz-box-shadow:0 0 20px #a2dcf4; box-shadow:0 0 20px #a2dcf4;}
.box-shadow-hui:hover{-webkit-box-shadow:0 0 20px #a2dcf4; -moz-box-shadow:0 0 20px #a2dcf4; box-shadow:0 0 20px #a2dcf4; color:#5e5e5e}
.box-shadow-hui{ -webkit-box-shadow: 5px 5px 5px #e3e3e3x;  -moz-box-shadow: 5px 5px 5px #e3e3e3x;  box-shadow: 5px 5px 5px #e3e3e3 ; color:#5e5e5e}
.text_hui{ font-size:12px; color:#8a8a8a;}
.text_red{ font-size:12px; color:#fe6e5d;}
.center{width:60%; height:100%; margin:0 auto; }
.center .center_1{width:100%; height:300px; background:#fff; float:left;border-radius:50px; margin-top:25px;word-wrap: break-word; overflow:auto;box-shadow:5px 5px 5px #dddddd; border:15px #efefef solid;}
.center .center_1 p{padding:20px;}
.finish{ float:left;width:100%; height:40px; margin-top:15px;}
.finish .finish_1{width:10%; height:40px; border-radius:10px; background:#38b7ea; margin:0 auto; line-height:40px; text-align:center; font-size:1em; font-weight:bold; color:#fff;transform:skew(-30deg); cursor:pointer;}
.finish .finish_2{transform:skew(30deg); }
.foot{width:100%; height:40px; margin-top:15px; float:left; text-align:center; line-height:40px; background:#dddddd;}
#wapper{
    position: relative;   /*重要！保证footer是相对于wapper位置绝对*/
    height: auto;          /* 保证页面能撑开浏览器高度时显示正常*/
    min-height: 100%  /* IE6不支持，IE6要单独配置*/
}
#footer{
	text-align:right;
	font-size:12px;
	background:#f2f2f2;
	padding:0 30px 0 20%;
    position: fixed;
   bottom: 0; /* 关键 */
   left:0; /* IE下一定要记得 */
   width:500px;
   height:27px;         /* footer的高度一定要是固定值*/
   transform:skew(-30deg);
   line-height:24px;
}
.fanxiang{transform:skew(30deg); color:#646464;}
#main-content{
   padding-bottom: 60px; /*重要！给footer预留的空间*/
}
.gd_line{ overflow-y: scroll; overflow-x:hidden}
input{outline:none}

input.ng-invalid {
	border:1px solid red !important;
	box-shadow: rgb(255, 0, 0) 0px 0px 20px 0px !important;
}

.input_hide_hui_eject_sl {
    border: 0px #efeeed solid;
    padding: 0 5px 0 5px;
    background: #f4f4f3;
    height: 15px;
    vertical-align: middle;
    margin: 0 0 0 5px;
    width: 30%;
    color: #2FABDD;
}
