<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="/resources/css/shouye.css" rel="stylesheet" type="text/css" />
<link href="/resources/css/finish.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/resources/js/angular.min.js"></script>
<script type="text/javascript" src="/resources/js/angular-resource.min.js"></script>
<script type="text/javascript" src="/resources/js/angular-common-0.4.min.js"></script>
</head>
<body ng-controller="controller">
    <div class="logo"><div class="logo_sub1">
	    	<img class="logo_sub2" src="/resources/images/logo.png" />
        </div></div>
    <div class="head">
        <div class="nav">
            <div class="nav1_sub1"><span>1 用户名</span></div>
            <div class="nav1"><span>2 集群管理</span></div>
            <div class="nav1"><span>3 告警内容</span></div>
            <div class="nav2"><span>4 安装</span></div>
            <div class="nav_bg"></div>
        </div>
    </div>
    <div class="main">
        <div class="mount">安装</div>
        <div class="schedule">
            <div class="schedule_1">正在安装{[{getCurrentComponent(cluster.components)|uppercase}]}集群，{[{getCurrentIp(cluster.components)}]}......</div>
            <div class="schedule_2">
                <div class="schedule_2_1" ng-style="process"></div>
            </div>
        </div>
        <div class="classify">
            <div class="kind">
              <div ng-class="getStyle(item.status, item.current_status)" ng-repeat="item in cluster.components">{[{item.showname|uppercase}]}</div>
            </div>
            <div class="kind" ng-repeat="item in cluster.components | filter : {current_status : true}">
              <div ng-class="getStyle(component.status, component.current_status)" ng-repeat="component in item.components| orderBy:'index':false" title="{[{component.ip}]}">{[{item.showname|uppercase}]}</div>
            </div>
        </div>
        <div class="center">
            <div class="center_1 gd_line">
              <p class="text_hui" ng-repeat="log in logs">{[{log.text}]}</p>
            </div>
        </div>
        <div class="finish">
            <div class="finish_1"><div class="finish_2" ng-click="go('/cluster_component_status')">完成</div></div>
        </div>
    </div>

    <div  id="footer"><div class="fanxiang">Copyright 2015-2020  神州泰岳 版权所有</div></div>
<script>
var cluster_name = '{{cluster_name}}';

angular.module('app', ['common'])
.config(function($interpolateProvider) {
  $interpolateProvider.startSymbol('{[{');
  $interpolateProvider.endSymbol('}]}');
})
.controller('controller', ['$scope', 'commonDao', 'commonUtil', '$interval', '$filter',
    function($scope, commonDao, commonUtil, $interval, $filter) {

      $scope.getStyle = function(status, current_status) {
        var style = "breed_green";
        if(status<0){
          if(current_status) {
            style = "breed box-shadow-blue";
          } else {
            style = "breed box-shadow-hui";
          }
        } else if (status>0) {
          style = "breed_red";
          if(current_status) {
            style += " box-shadow-blue";
          }
        } else {
          if(current_status) {
            style += " box-shadow-blue";
          }
        }
        return style;
      };

      $scope.logs = null;

      $scope.getCurrentLogs = function(data) {
        components = $filter("orderBy")(data, 'index', false);
        var currentLogs = [];
        if(components != null && components.length>0) {
          for (var i=0;i<components.length;i++) {
            var temp = components[i];
            var tempComponents = temp.components;
            if (tempComponents!=null&&tempComponents.length>0) {
              for (var j=0;j<tempComponents.length;j++) {
                var tempLogs = tempComponents[j].log;
                if (tempLogs!=null && tempLogs.length>0) {
                  for (var m=0;m<tempLogs.length;m++) {
                    currentLogs.push({"text":tempLogs[m]});
                  }
                }
              }
            }
            if (temp.current_status==true)
              break;
          }
        }
        $scope.logs = currentLogs;
      };

      $scope.getCurrentComponent = function(components) {
        var currentComponent = "";
        if(components!=null&&components.length>0) {
          for (var i=0;i<components.length;i++) {
            var temp = components[i];
            if (temp.current_status==true) {
              currentComponent = temp.showname;
              break;
            }
          }
        }
        return currentComponent;
      };

      $scope.getCurrentIp = function(components) {
        var currentIp = "";
        if(components!=null&&components.length>0) {
          for (var i=0;i<components.length;i++) {
            var temp = components[i];
            if (temp.current_status==true) {
              if(temp.components!=null && temp.components.length>0) {
                for (var j=0;j<temp.components.length;j++) {
                  var tempObj = temp.components[j];
                  if(tempObj.current_status==true) {
                    currentIp = tempObj.ip;
                    break;
                  }
                }
              }
              break;
            }
          }
        }
        return currentIp;
      };

      $scope.process = {"width":"0%","transition":"width 2s"};

      $interval(function() {
        commonDao.getClusterServerFinish().save({'cluster_name':cluster_name}, function(data) {
          $scope.cluster = data;
          $scope.process = {"width":$scope.getProcess() + "%","transition":"width 2s"};
          $scope.getCurrentLogs(data.components);
        });
      }, 15000);

      $scope.getProcess = function() {
        var process = 0;
        if ($scope.cluster.components!=null&&$scope.cluster.components.length>0) {
          for(var i=0;i<$scope.cluster.components.length;i++) {
            if($scope.cluster.components[i].status>=0) {
              process += 1;
            }
          }
        }
        return (process*100/$scope.cluster.components.length).toFixed(2);
      };

      commonDao.getClusterServerFinish().save({'cluster_name':cluster_name}, function(data) {
        $scope.cluster = data;
        $scope.process = {"width":$scope.getProcess() + "%","transition":"width 2s"};
        $scope.getCurrentLogs(data.components);
      });

      $scope.go = function(url) {
        commonUtil.go(url + '?cluster_name=' + cluster_name);
      };
}]);
</script>

</body>
</html>
