<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="/resources/css/shouye.css" rel="stylesheet" type="text/css" />
<link href="/resources/css/alarm.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/resources/js/angular.min.js"></script>
<script type="text/javascript" src="/resources/js/angular-resource.min.js"></script>
<script type="text/javascript" src="/resources/js/angular-common-0.2.js"></script>
</head>
<body ng-controller="controller">
    <div class="logo"><div class="logo_sub1">
	    	<img class="logo_sub2" src="/resources/images/logo.png" />
        </div></div>
    <div class="head">
        <div class="nav">

            <div class="nav1_sub1"><span>1 用户名</span></div>
            <div class="nav1"><span>2 集群管理</span></div>
            <div class="nav1"><span>3 告警内容</span></div>
            <div class="nav2"><span>4 安装</span></div>
            <div class="nav_bg"></div>

        </div>
    </div>
    <div class="main">
        <div class="mount">告警内容</div>
        <div class="schedule"> </div>
        <div class="classify">

        </div>
        <div class="alarm">
            <div class="center_1">

                   <div class="title_box" ng-repeat="warn in warn.msg">
                    		<div class="input_move_alarm_red"></div>
                            <div class="input_move box-shadow-2_red">
                            	<div class="input_move_text">{[{warn}]}</div>
                            </div>
                   </div>
            </div>
            <div class="title_box">

                    <div class="title_buttom">
                    	<div class="buttom_type_hui" ng-click="next('/new_cluster')"><div class="buttom_type_text">返回</div></div>
                    	<div class="buttom_type " ng-click="next('/cluster_finish')"><div class="buttom_type_text">下一步</div></div>
                    </div>
               		</div>
        </div>


    </div>
    <div  id="footer"><div class="fanxiang">Copyright 2015-2020  神州泰岳 版权所有</div></div>
<script>
var id = {{id}}

angular.module('app', ['common'])
.config(function($interpolateProvider) {
  $interpolateProvider.startSymbol('{[{');
  $interpolateProvider.endSymbol('}]}');
})
.controller('controller', ['$scope', 'commonDao', 'commonUtil',
	function($scope, commonDao, commonUtil) {

    $scope.getSingleWarn = function() {
      commonDao.getSingleWarn().save({'id':id}, function(data) {
        $scope.warn = data;
      });
    };

    $scope.next = function(url) {
      commonUtil.go(url + '?cluster_name=' + $scope.warn.server_id);
    };

    $scope.getSingleWarn();
  }
]);
</script>
</body>
</html>
