<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="/resources/css/shouye.css" rel="stylesheet" type="text/css" />
<link href="/resources/css/finish.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/resources/js/angular.min.js"></script>
<script type="text/javascript" src="/resources/js/angular-resource.min.js"></script>
<script type="text/javascript" src="/resources/js/angular-common-0.2.js"></script>
</head>
<body ng-controller="controller">
    <div class="logo"><div class="logo_sub1">
	    	<img class="logo_sub2" src="/resources/images/logo.png" />
        </div></div>
    <div class="head">
        <div class="nav">
            <div class="nav1_sub1"><span>1 用户名</span></div>
            <div class="nav1"><span>2 集群管理</span></div>
            <div class="nav1"><span>3 告警内容</span></div>
            <div class="nav2"><span>4 安装</span></div>
            <div class="nav_bg"></div>
        </div>
    </div>
    <div class="main">
        <div class="mount">安装</div>
        <div class="schedule">
            <div class="schedule_1">正在安装{[{getCurrentComponent(cluster.components)}]}集群，{[{getCurrentIp(cluster.components)}]}......</div>
            <div class="schedule_2">
                <div class="schedule_2_1" ng-style="process"></div>
            </div>
        </div>
        <div class="classify">
            <div class="kind">
              <div ng-class="getStyle(item.status, item.current_status)" ng-repeat="item in cluster.components">{[{item.name}]}</div>
            </div>
            <div class="kind" ng-repeat="item in cluster.components | filter : {current_status : true}">
              <div ng-class="getStyle(component.status, component.current_status)" ng-repeat="component in item.components" title="{[{component.ip}]}">{[{item.name}]}</div>
            </div>
        </div>
        <div class="center">
            <div class="center_1 gd_line">
                <p class="text_hui">2015-10-16 16:57:00,621 [myid:0] - INFO  [QuorumPeer[myid=0]/0:0:0:0:0:0:0:0:2181:FileTxnSnapLog@240] - Snapshotting: 0x0 to /ultrapower/data/zookeeperersion-2/snapshot.0</p>
                <p class="text_hui">2015-10-16 16:57:01,078 [myid:0] - INFO  [/192.168.120.122:3888:QuorumCnxManager$Listener@511] - Received connection request /192.168.120.123:50481</p>
                <p class="text_hui">2015-10-16 16:57:01,087 [myid:0] - INFO  [WorkerReceiver[myid=0]:FastLeaderElection@597] - Notification: 1 (message format version), 1 (n.leader), 0x0 (n.zxid), 0x1 (n.round), LOOKING (n.state), 1 (n.sid), 0x0 (n.peerEpoch) FOLLOWING (my state)</p>
                <p class="text_red">2015-10-16 16:57:01,092 [myid:0] - INFO  [WorkerReceiver[myid=0]:FastLeaderElection@597] - Notification: 1 (message format version), 2 (n.leader), 0x0 (n.zxid), 0x1 (n.round), LOOKING (n.state), 1 (n.sid), 0x0 (n.peerEpoch) FOLLOWING (my state)</p>
                <p class="text_hui">2015-10-16 16:57:00,621 [myid:0] - INFO  [QuorumPeer[myid=0]/0:0:0:0:0:0:0:0:2181:FileTxnSnapLog@240] - Snapshotting: 0x0 to /ultrapower/data/zookeeperersion-2/snapshot.0</p>
                <p class="text_hui">2015-10-16 16:57:00,621 [myid:0] - INFO  [QuorumPeer[myid=0]/0:0:0:0:0:0:0:0:2181:FileTxnSnapLog@240] - Snapshotting: 0x0 to /ultrapower/data/zookeeperersion-2/snapshot.0</p>
                <p class="text_hui">2015-10-16 16:57:00,621 [myid:0] - INFO  [QuorumPeer[myid=0]/0:0:0:0:0:0:0:0:2181:FileTxnSnapLog@240] - Snapshotting: 0x0 to /ultrapower/data/zookeeperersion-2/snapshot.0</p>


            </div>
        </div>
        <div class="finish">
            <div class="finish_1"><div class="finish_2">完成</div></div>
        </div>
    </div>

    <div  id="footer"><div class="fanxiang">Copyright 2015-2020  神州泰岳 版权所有</div></div>
<script>
var cluster_name = '{{cluster_name}}';

angular.module('app', ['common'])
.config(function($interpolateProvider) {
  $interpolateProvider.startSymbol('{[{');
  $interpolateProvider.endSymbol('}]}');
})
.controller('controller', ['$scope', 'commonDao', 'commonUtil', '$interval',
    function($scope, commonDao, commonUtil, $interval) {

      $scope.getStyle = function(status, current_status) {
        var style = "breed_green";
        if(status<0){
          if(current_status) {
            style = "breed box-shadow-blue";
          } else {
            style = "breed box-shadow-hui";
          }
        } else if (status>0) {
          style = "breed_red";
          if(current_status) {
            style += " box-shadow-blue";
          }
        } else {
          if(current_status) {
            style += " box-shadow-blue";
          }
        }
        return style;
      };

      $scope.getCurrentComponent = function(components) {
        var currentComponent = "";
        if(components!=null&&components.length>0) {
          for (var i=0;i<components.length;i++) {
            var temp = components[i];
            if (temp.current_status==true) {
              currentComponent = temp.name;
              break;
            }
          }
        }
        return currentComponent;
      };

      $scope.getCurrentIp = function(components) {
        var currentIp = "";
        if(components!=null&&components.length>0) {
          for (var i=0;i<components.length;i++) {
            var temp = components[i];
            if (temp.current_status==true) {
              if(temp.components!=null && temp.components.length>0) {
                for (var j=0;j<temp.components.length;j++) {
                  var tempObj = temp.components[j];
                  if(tempObj.current_status==true) {
                    currentIp = tempObj.ip;
                    break;
                  }
                }
              }
              break;
            }
          }
        }
        return currentIp;
      };

      $scope.process = {"width":"0%","transition":"width 2s"};

      $interval(function() {
        commonDao.getClusterServerFinish().save({'cluster_name':cluster_name}, function(data) {
          $scope.cluster = data;
          $scope.process = {"width":$scope.getProcess() + "%","transition":"width 2s"};
        });
      }, 3000);

      $scope.getProcess = function() {
        var process = 0;
        if ($scope.cluster.components!=null&&$scope.cluster.components.length>0) {
          for(var i=0;i<$scope.cluster.components.length;i++) {
            if($scope.cluster.components[i].status>0) {
              process += 1;
            }
          }
        }
        return (process*100/$scope.cluster.components.length).toFixed(2);
      }
}]);
</script>

</body>
</html>
