<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="/resources/css/shouye.css" rel="stylesheet" type="text/css" />
<link href="/resources/css/component_selection.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="logo"><div class="logo_sub1">
	    	<img class="logo_sub2" src="/resources/images/logo.png" />
        </div></div>
    <div class="head">
        <div class="nav">

            <div class="nav1_sub1"><span>1 用户名</span></div>
            <div class="nav1"><span>2 集群管理</span></div>
            <div class="nav1"><span>3 告警内容</span></div>
            <div class="nav2"><span>4 安装</span></div>
            <div class="nav_bg"></div>

        </div>
    </div>
    <div class="main">
        <div class="mount">组件选择</div>
        <div class="schedule"> </div>
        <div class="classify">

        </div>
        <div class="component_selection">
            <div class="center_1">
            		<div class="title_box">
                    <div class="title_ip">
                        <p>IP:<input class="input_hide" /></p>
                        <p>HOSTNAME:<input class="input_hide" /></p>
                        <p>PASSWORD:<input class="input_hide"/></p>
                    </div>
                    <div class="title_buttom">
                    	<div class="buttom_type_hui"><div class="buttom_type_text">WEB</div></div>
                    	<div class="buttom_type "><div class="buttom_type_text">PROCESS</div></div>
                    </div>
               		</div>
                    <div class="title_box">
                            <div class="input_move box-shadow-1">
                                <div class="ico_jian_blue">ZOOKEEPER</div>
                                <p>端口:</p>
                                <p>安装路径</p>
                                <p>dataDir</p>
                                <p>logDir</p>

                            </div>
                            <div class="input_movew box-shadow-3">
                                  <div class="ico_add_blue">ZOOKEEPER</div>
                                <p>端口:</p>
                                <p>安装路径</p>
                                <p>dataDir</p>
                                <p>logDir</p>
                            </div>

                            <div class="input_move box-shadow-1">
                                 <div class="ico_add_blue">ZOOKEEPER</div>
                                <p>端口:</p>
                                <p>安装路径</p>
                                <p>dataDir</p>
                                <p>logDir</p>
                            </div>
                            <div class="input_move box-shadow-1">
                                 <div class="ico_add_blue">ZOOKEEPER</div>
                                <p>端口:</p>
                                <p>安装路径</p>
                                <p>dataDir</p>
                                <p>logDir</p>
                            </div>

                   </div>
                   <div class="title_box">
                            <div class="input_move box-shadow-1">
                                <div class="ico_jian_blue">ZOOKEEPER</div>
                                <p>端口:</p>
                                <p>安装路径</p>
                                <p>dataDir</p>
                                <p>logDir</p>

                            </div>
                            <div class="input_move">
                                  <div class="ico_add_blue">ZOOKEEPER</div>
                                <p>端口:</p>
                                <p>安装路径</p>
                                <p>dataDir</p>
                                <p>logDir</p>
                            </div>

                            <div class="input_move box-shadow-1">
                                 <div class="ico_add_blue">ZOOKEEPER</div>
                                <p>端口:</p>
                                <p>安装路径</p>
                                <p>dataDir</p>
                                <p>logDir</p>
                            </div>
                            <div class="input_move box-shadow-1">
                                 <div class="ico_add_blue">ZOOKEEPER</div>
                                <p>端口:</p>
                                <p>安装路径</p>
                                <p>dataDir</p>
                                <p>logDir</p>
                            </div>

                   </div>
            </div>
            <div class="note">请填写主机信息后点击下一步，如未安装将跳转到安装页，所以安装页，所以安装则自动跳转到管理员</div>
            <div class="title_box">

                    <div class="title_buttom">

                    	<div class="buttom_type "><div class="buttom_type_text">下一步</div></div>
                    </div>
               		</div>
        </div>




    </div>
    <div  id="footer"><div class="fanxiang">Copyright 2015-2020  神州泰岳 版权所有</div></div>


</body>
</html>
