<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="/resources/css/shouye.css" rel="stylesheet" type="text/css" />
<link href="/resources/css/in.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="logo">
    	<div class="logo_sub1">
	    	<img class="logo_sub2" src="/resources/images/logo.png" />
        </div>
    </div>
    <div class="head">
        <div class="nav">

            <div class="nav1_sub1"><span>1 用户名</span></div>
            <div class="nav1"><span>2 集群管理</span></div>
            <div class="nav1"><span>3 告警内容</span></div>
            <div class="nav2"><span>4 安装</span></div>
            <div class="nav_bg"></div>

        </div>
    </div>
    <div class="main">
        <div class="mount">单机、休群入口</div>
        <div class="schedule">


        </div>
        <div class="classify">


        </div>
        <div class="in">
            <div class="center_1">
            <img src="/resources/images/logo_sys.png" width="80%" height="80%" alt=""/>
            </div>
        </div>
        <div class="in_next">

            	<div onclick="javascript:window.location.href='/single'" class="finish_left"><img src="/resources/images/danji.png" width="60%" height="60%" alt=""/></div>
                <div onclick="javascript:window.location.href='/cluster'" class="finish_right"><img src="/resources/images/jiqun.png" width="60%" height="60%" alt=""/></div>

        </div>
    </div>
    <div  id="footer"><div class="fanxiang">Copyright 2015-2020  神州泰岳 版权所有</div></div>


</body>
</html>
