<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="/resources/css/shouye.css" rel="stylesheet" type="text/css" />
<link href="/resources/css/jiqun_management.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="logo"><div class="logo_sub1">
	    	<img class="logo_sub2" src="/resources/images/logo.png" />
        </div></div>
    <div class="head">
        <div class="nav">

            <div class="nav1_sub1"><span>1 用户名</span></div>
            <div class="nav1"><span>2 集群管理</span></div>
            <div class="nav1"><span>3 告警内容</span></div>
            <div class="nav2"><span>4 安装</span></div>
            <div class="nav_bg"></div>

        </div>
    </div>
    <div class="main">
        <div class="mount">集群管理</div>

        <div id="left">
        	<ul class="ul_move">
            	<li class="li_font16">ALL</li>
                <li class="menu_sub1_blue">ZOOKEEPER</li>
                <li class="menu_sub1">AKFKA</li>
                <li class="line"></li>
                <li class="menu_sub1">FLUME</li>
                <li class="line"></li>
                <li class="menu_sub1">STORM</li>
                <li class="line"></li>
                <li class="menu_sub1">SLASTICSEARCH</li>
                <li class="menu_sub1">FRONTEND</li>
                <li class="menu_sub1">WEB</li>
                <li class="menu_sub1">DATABASE</li>
            </ul>
    	</div>
   		<div id="content">
        	<div class="content_main">
            	<div class="type_list">
                	<div class="title">PORCESS</div>
                    <div class="box_info_all">
                        <div class="box_info box_bg_hui">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                        </div>
                        <div class="box_info box_bg_red">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                        </div>
                        <div class="box_info box_bg_yellow">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                      </div>
                        <div class="box_info box_bg_green">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                      </div>
                        <div class="box_info box_bg_green">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                      </div>
                        <div class="box_info box_bg_green">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                      </div>
                        <div class="box_info box_bg_green">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                      </div>
                        <div class="box_info box_bg_green">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                      </div>
                        <div class="box_info box_bg_green">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                      </div>
                        <div class="box_info_add box_bg_kong">
                   	    	<div class="add_buttom"><img  src="/resources/images/add_hui.png" width="36" height="37" alt=""/> </div>
                        </div>
                    </div>
                    <div class="right_text">PORCESS角色规则说明</div>

                </div>
                <div class="type_list">
                	<div class="title">PORCESS</div>
                    <div class="box_info_all">
                        <div class="box_info box_bg_hui">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                        </div>
                        <div class="box_info box_bg_red">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                        </div>
                        <div class="box_info box_bg_yellow">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                        </div>
                        <div class="box_info box_bg_green">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                        </div>
                        <div class="box_info box_bg_green">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                        </div>
                        <div class="box_info box_bg_green">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                        </div>
                        <div class="box_info box_bg_green">
                        	<div class="p_all">
                                <p>IP：127.0.0.1</p>
                                <p title="我是名字后面被隐藏了">hostname:我是名字后面被隐藏了</p>
                                <p>password:******</p>
                            </div>
                        </div>
                        <div class="box_info_add box_bg_kong">
                   	    	<div class="add_buttom"><img  src="/resources/images/add_blue.png" width="36" height="37" alt=""/> </div>
                        </div>

                    </div>
                    <div class="right_text">WEB角色规则说明</div>
                </div>
                <div class="type_list">
                	<div class="title">PORCESS</div>
                    <div class="box_info_all">
                        <div class="box_info box_bg_hui">
                        	<p>IP：</p>
                            <p>hostname:</p>
                            <p>password:</p>
                        </div>
                        <div class="box_info box_bg_red">
                        	<p>IP：</p>
                            <p>hostname:</p>
                            <p>password:</p>
                        </div>
                        <div class="box_info box_bg_yellow">
                        	<p>IP：</p>
                            <p>hostname:</p>
                            <p>password:</p>
                        </div>
                        <div class="box_info box_bg_green">
                        	<p>IP：</p>
                            <p>hostname:</p>
                            <p>password:</p>
                        </div>
                        <div class="box_info box_bg_green">
                        	<p>IP：</p>
                            <p>hostname:</p>
                            <p>password:</p>
                        </div>
                        <div class="box_info box_bg_green">
                        	<p>IP：</p>
                            <p>hostname:</p>
                            <p>password:</p>
                        </div>
                        <div class="box_info_add box_bg_kong">
                   	    	<div class="add_buttom"><img  src="/resources/images/add_hui.png" width="36" height="37" alt=""/> </div>
                        </div>


                    </div>
                    <div class="right_text">自定义角色规则说明</div>
                </div>


                <div  class="next_button"></div>

            </div>


   		</div>



    </div>
    <div  id="footer"><div class="fanxiang">Copyright 2015-2020  神州泰岳 版权所有</div></div>


</body>
</html>
