<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="/resources/css/shouye.css" rel="stylesheet" type="text/css" />
<link href="/resources/css/jiqun_management.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/resources/js/angular.min.js"></script>
<script type="text/javascript" src="/resources/js/angular-resource.min.js"></script>
<script type="text/javascript" src="/resources/js/angular-common-0.4.min.js"></script>
</head>
<body ng-controller="controller">
    <div class="logo">
      <div class="logo_sub1">
	    	<img class="logo_sub2" src="/resources/images/logo.png" />
      </div>
    </div>
    <div class="head">
        <div class="nav">
            <div class="nav1_sub1"><span>1 用户名</span></div>
            <div class="nav2"><span>2 集群管理</span></div>
            <div class="nav1"><span>3 告警内容</span></div>
            <div class="nav1"><span>4 安装</span></div>
            <div class="nav_bg"></div>
        </div>
    </div>
    <div class="main">
        <div class="mount">集群配置</div>
        <div id="left">
        	<ul class="ul_move" ng-cloak>
            	<li class="li_font16" ng-style="getStyle('ALL')" ng-click="changeType('ALL')" >ALL</li>
              <li class="menu_sub1" ng-style="getStyle('ZOOKEEPER')" ng-click="changeType('ZOOKEEPER')" >ZOOKEEPER</li>
              <li class="menu_sub1" ng-style="getStyle('KAFKA')" ng-click="changeType('KAFKA')" >KAFKA</li>
              <li class="line"></li>
              <li class="menu_sub1" ng-style="getStyle('FLUME')" ng-click="changeType('FLUME')" >FLUME</li>
              <li class="line"></li>
              <li class="menu_sub1" ng-style="getStyle('STORM')" ng-click="changeType('STORM')" >STORM</li>
              <li class="line"></li>
              <li class="menu_sub1" ng-style="getStyle('ELASTICSEARCH')" ng-click="changeType('ELASTICSEARCH')" >ELASTICSEARCH</li>
              <li class="menu_sub1" ng-style="getStyle('FRONTEND')" ng-click="changeType('FRONTEND')" >FRONTEND</li>
              <li class="menu_sub1" ng-style="getStyle('WEB')" ng-click="changeType('WEB')" >WEB</li>
              <li class="menu_sub1" ng-style="getStyle('DATABASE')" ng-click="changeType('DATABASE')" >DATABASE</li>
            </ul>
    	</div>
   		<div id="content">
        	<div class="content_main">
            	<div class="type_list" ng-cloak>
                	<div class="title">PORCESS</div>
                    <div class="box_info_all">
                        <div class="box_info box_bg_hui" ng-repeat="item in cluster_server | filter : getFilterJson('PROCESS') | orderBy:'ip':false">
                        	<div class="p_all" ng-click="go(item.id)">
                                <p>IP：{[{item.ip}]}</p>
                                <p title="{[{item.hostname}]}">hostname:{[{item.hostname}]}</p>
                                <p>password:******</p>
                            </div>
                        </div>
                        <div class="box_info_add box_bg_kong">
                   	    	<div class="add_buttom" ng-click="new_cluster_component('PROCESS')"><img  src="/resources/images/add_blue.png" width="36" height="37" alt=""/> </div>
                        </div>
                    </div>
                    <div class="right_text">PORCESS角色规则说明</div>
                </div>
                <div class="type_list" ng-cloak>
                	<div class="title">WEB</div>
                    <div class="box_info_all" ng-cloak>
                        <div class="box_info box_bg_hui" ng-repeat="item in cluster_server | filter : getFilterJson('WEB')  | orderBy:'ip':false">
                        	<div class="p_all" ng-click="go(item.id)">
                                <p>IP：{[{item.ip}]}</p>
                                <p title="{[{item.hostname}]}">hostname:{[{item.hostname}]}</p>
                                <p>password:******</p>
                            </div>
                        </div>
                        <div class="box_info_add box_bg_kong">
                   	    	<div class="add_buttom" ng-click="new_cluster_component('WEB')"><img  src="/resources/images/add_blue.png" width="36" height="37" alt=""/> </div>
                        </div>

                    </div>
                    <div class="right_text">WEB角色规则说明</div>
                </div>
                <div class="type_list" ng-cloak>
                	<div class="title">自定义</div>
                    <div class="box_info_all">
                        <div class="box_info box_bg_hui" ng-repeat="item in cluster_server | filter : getFilterJson('OTHER')  | orderBy:'ip':false">
                        	<div class="p_all" ng-click="go(item.id)">
                              <p>IP：{[{item.ip}]}</p>
                              <p title="{[{item.hostname}]}">hostname:{[{item.hostname}]}</p>
                              <p>password:******</p>
                          </div>
                        </div>
                        <div class="box_info_add box_bg_kong">
                   	    	<div class="add_buttom" ng-click="new_cluster_component('OTHER')"><img  src="/resources/images/add_blue.png" width="36" height="37" alt=""/> </div>
                        </div>

                    </div>
                    <div class="right_text">自定义角色规则说明</div>
                </div>
                <div class="next_button" ng-click="validClusterServerComponents()"></div>
            </div>
   		</div>
    </div>
    <div id="footer"><div class="fanxiang">Copyright 2015-2020  神州泰岳 版权所有</div></div>
<script>
var cluster_name = '{{cluster_name}}';

angular.module('app', ['common'])
.config(function($interpolateProvider) {
  $interpolateProvider.startSymbol('{[{');
  $interpolateProvider.endSymbol('}]}');
})
.controller('controller', ['$scope', 'commonDao', 'commonUtil',
	function($scope, commonDao, commonUtil) {

    $scope.selectType = "ALL";

    $scope.changeType = function(type) {
      $scope.selectType = type;
    };

    $scope.getFilterJson = function(type) {
      if( $scope.selectType=="ALL") {
        return {role:type};
      } else {
        return {role:type, components:{type:$scope.selectType, install_bs:true}}
      }
    };

    $scope.getStyle = function(name) {
      if ($scope.selectType == name)
        return {"color":"#38b7ea"};
      else
        return null;
    };

    $scope.go = function(id) {
      commonUtil.go("/edit_cluster_component?id=" + id);
    };

    $scope.getClusterServerComponents = function() {
      commonDao.getClusterServerComponents().save({"cluster_name":cluster_name}, function(data) {
        $scope.cluster_server = data.cluster_server;
        // console.log($scope.cluster_server)
      });
    };

    $scope.new_cluster_component = function(type) {
      commonUtil.go("/new_cluster_component?cluster_name=" + cluster_name + "&role=" + type);
    };

    $scope.validClusterServerComponents = function() {
      commonDao.validClusterServerComponents().save({"cluster_name":cluster_name}, function(data) {
        if (!data.available) {
            commonUtil.go("/cluster_alarm?id=" + data.id);
        } else {
          var bs = true;
          if ($scope.cluster_server!=null&&$scope.cluster_server.length>0) {
            bs = $scope.cluster_server[0].install_bs;
          }
          if (bs == false) {
            commonDao.installClusterServer().save({'cluster_name':cluster_name});
            commonUtil.go("/cluster_finish?cluster_name=" + data.id);
          } else {
            commonUtil.go("/cluster_management?cluster_name=" + cluster_name);
          }
        }
      });
    };

    $scope.getClusterServerComponents();
  }
]);
</script>
</body>
</html>
