<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="/resources/css/shouye.css" rel="stylesheet" type="text/css" />
<link href="/resources/css/login.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/resources/js/angular.min.js"></script>
<script type="text/javascript" src="/resources/js/angular-resource.min.js"></script>
<script type="text/javascript" src="/resources/js/angular-common-0.4.min.js"></script>
</head>
<body ng-controller="controller">
    <div class="logo"><div class="logo_sub1">
	    	<img class="logo_sub2" src="/resources/images/logo.png" />
        </div></div>
    <div class="head">
        <div class="nav">

            <div class="nav1_sub1"><span>1 用户名</span></div>
            <div class="nav2"><span>2 单机管理</span></div>
            <div class="nav1"><span>3 告警内容</span></div>
            <div class="nav1"><span>4 安装</span></div>
            <div class="nav_bg"></div>

        </div>
    </div>
    <div class="main">
        <div class="mount">单机-安装</div>
        <div class="schedule"> </div>
        <div class="classify">

        </div>
        <div class="login">
            <div class="center_1">
							<form name="serverForm" ng-cloak>
							<div class="input_move">
									<div class="input_font_blue">IP</div>
									<input class="input_yuanjiao box-shadow-2" type="text" placeholder="例如:127.0.0.1" ng-model="server.ip" ng-pattern="ipv4" required/>
								</div>
								<div class="input_move">
									<div class="input_font_blue">用户名</div>
									<input class="input_yuanjiao input_radius1" type="text" placeholder="例如:root" ng-model="server.username" required/>
								</div>
								<div class="input_move">
									<div class="input_font_blue">密码</div>
									<input class="input_yuanjiao input_radius1" type="password" ng-model="server.password" required/>
								</div>
								</form>
            </div>
        </div>
        <div class="note">请填写主机信息后点击下一步，如未安装将跳转到安装页，所以安装页，所以安装则自动跳转到管理员</div>
        <div class="next_button" ng-cloak>
            <div class="finish_1" ng-if="serverForm.$valid" ng-click="next(serverForm.$invalid)"><div class="finish_2">下一步</div></div>
        </div>
    </div>
		{{test}}
    <div  id="footer"><div class="fanxiang">Copyright 2015-2020  神州泰岳 版权所有</div></div>
<script>
angular.module('app', ['common'])
.controller('controller', ['$scope', 'commonDao', 'commonUtil',
    function($scope, commonDao, commonUtil) {

		$scope.ipv4 = commonUtil.ipv4();

		$scope.server = commonUtil.defaultSingleServer();

		$scope.disabled = false;
		$scope.next = function(invalid) {
			if (invalid)
				return;
			if ($scope.disabled)
        return
      $scope.disabled = true;
			commonDao.addSingleServer().save($scope.server).$promise.then(function(data) {
				if (data.available) {
					if(data.install_bs) {
						commonUtil.go('/single_component_status' + '?id=' + data.id);
					} else {
            if (data.component_bs) {
              commonUtil.go('/edit_single_component' + '?id=' + data.id);
            } else {
              commonUtil.go('/single_component' + '?id=' + data.id);
            }
					}
				} else {
					alert(data.message);
					$scope.disabled = false;
				}
			});
		};
}]);
</script>
</body>
</html>
