<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>首页</title>
<link href="/resources/css/shouye.css" rel="stylesheet" type="text/css" />
<link href="/resources/css/component_selection.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/resources/js/angular.min.js"></script>
<script type="text/javascript" src="/resources/js/angular-resource.min.js"></script>
<script type="text/javascript" src="/resources/js/angular-common-0.4.min.js"></script>
</head>
<body ng-controller="controller">
    <div class="logo"><div class="logo_sub1">
	    	<img class="logo_sub2" src="/resources/images/logo.png" />
        </div></div>
    <div class="head">
        <div class="nav">
            <div class="nav1_sub1"><span>1 用户名</span></div>
            <div class="nav2"><span>2 单机管理</span></div>
            <div class="nav1"><span>3 告警内容</span></div>
            <div class="nav1"><span>4 安装</span></div>
            <div class="nav_bg"></div>
        </div>
    </div>
    <div class="main">
        <div class="mount">单机组件状态管理</div>
        <div class="schedule"> </div>
        <div class="classify">

        </div>
        <div class="component_selection">
            <div class="center_1">
            		<div class="title_box">
                    <div class="title_ip" ng-cloak>
                      <p>IP:<input class="input_hide" ng-model="server.ip" ng-readonly="true" /></p>
                      <p>HOSTNAME:<input class="input_hide" ng-model="server.hostname" ng-readonly="true" /></p>
                      <p>PASSWORD:<input class="input_hide" type="password" ng-model="server.password" ng-readonly="true" /></p>
                    </div>
                </div>
                <form name="validForm" ng-cloak>
                    <div class="title_box" ng-repeat="row in components">
                      <div ng-repeat="component in row" ng-class="{true: 'input_movew box-shadow-3', false: 'input_move box-shadow-1'}[component.install_bs]">
                          <div ng-class="{true: 'ico_jian_blue', false: 'ico_add_blue'}[component.install_bs]" ng-click="changeType($parent.$index, $index)">{[{component.type}]}</div>
                          <div ng-click = "editComponent(component, $parent.$index, $index)" class="more_blue"></div>
													<div id="fade" class="black_overlay"></div>
                          <p>端口:<input ng-class="{true: 'input_hide_w', false: 'input_hide_hui'}[component.install_bs]" class="" ng-model="component.port" ng-readonly="true"/></p>
                          <p>安装路径<input ng-class="{true: 'input_hide_w', false: 'input_hide_hui'}[component.install_bs]" ng-model="component.install_dir" required /></p>
                          <p>dataDir<input ng-class="{true: 'input_hide_w', false: 'input_hide_hui'}[component.install_bs]" ng-model="component.data_dir" /></p>
                          <p>logDir<input ng-class="{true: 'input_hide_w', false: 'input_hide_hui'}[component.install_bs]" ng-model="component.log_dir" /></p>
                      </div>
                   </div>
                </form>
            </div>
            <div class="note">请填写主机信息后点击下一步，如未安装将跳转到安装页，所以安装页，所以安装则自动跳转到管理员</div>
            <div class="title_box">
                    <div class="title_buttom">
                    	<div class="buttom_type" ng-click="validSingleServerComponents(validForm.$invalid)"><div class="buttom_type_text">提交</div></div>
                    </div>
               		</div>
        </div>
    </div>
    <div  id="footer"><div class="fanxiang">Copyright 2015-2020  神州泰岳 版权所有</div></div>
<!--弹也层-->
<div id="light" class="white_content ">
	<div class="box_eject_border_bottom">
		<span>{[{tempComponent.type}]}</span>
		<a href = "javascript:void(0)" class="box_close" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"></a>
  </div>
	<div id="scroll-1">
		<p>端口:<input class="input_hide_hui_eject" ng-model="tempComponent.port" ng-readonly="true" /></p>
		<p>安装路径:<input class="input_hide_hui_eject" ng-model="tempComponent.install_dir" /></p>
		<p>dataDir:<input class="input_hide_hui_eject" ng-model="tempComponent.data_dir" /></p>
		<p>logDir:<input class="input_hide_hui_eject" ng-model="tempComponent.log_dir" /></p>
		<p ng-if="tempComponent.type=='DATABASE'">用户名:<input class="input_hide_hui_eject" ng-model="tempComponent.db_username" /></p>
		<p ng-if="tempComponent.type=='DATABASE'">密码:<input class="input_hide_hui_eject" ng-model="tempComponent.db_password" /></p>
		<p ng-if="tempComponent.type=='WEB'">service_name:<input class="input_hide_hui_eject" ng-model="tempComponent.web_service_name" /></p>
		<p ng-if="tempComponent.type=='FRONTEND'">service_name:<input class="input_hide_hui_eject" ng-model="tempComponent.frontend_service_name" /></p>
		<p ng-if="tempComponent.type=='ELASTICSEARCH'">memory_limit:<input class="input_hide_hui_eject" ng-model="tempComponent.es_memory_limit" /></p>
		<p ng-if="tempComponent.type=='ELASTICSEARCH'">index_number_of_shards:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.es_index_number_of_shards" /></p>
		<p ng-if="tempComponent.type=='ELASTICSEARCH'">index_refresh_interval:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.es_index_refresh_interval" /></p>
    <p ng-if="tempComponent.type=='ELASTICSEARCH'">path_data:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.es_path_data" /></p>
		<p ng-if="tempComponent.type=='ELASTICSEARCH'">path_logs:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.es_path_logs" /></p>
		<p ng-if="tempComponent.type=='STORM'">storm_works_num_per_host:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.storm_works_num_per_host" /></p>
		<p ng-if="tempComponent.type=='STORM'">storm_dataProcess_works_num:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.storm_dataProcess_works_num" /></p>
		<p ng-if="tempComponent.type=='STORM'">storm_dataIndex_works_num:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.storm_dataIndex_works_num" /></p>
		<p ng-if="tempComponent.type=='STORM'">storm_spout_config_num:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.storm_spout_config_num" /></p>
		<p ng-if="tempComponent.type=='STORM'">storm_spout_dataprocess_num:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.storm_spout_dataprocess_num" /></p>
		<p ng-if="tempComponent.type=='STORM'">storm_spout_dataindex_num:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.storm_spout_dataindex_num" /></p>
		<p ng-if="tempComponent.type=='STORM'">storm_bolt_default_num:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.storm_bolt_default_num" /></p>
		<p ng-if="tempComponent.type=='STORM'">storm_bolt_rule_num:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.storm_bolt_rule_num" /></p>
		<p ng-if="tempComponent.type=='STORM'">storm_bolt_advanced_num:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.storm_bolt_advanced_num" /></p>
		<p ng-if="tempComponent.type=='STORM'">storm_bolt_kafka_num:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.storm_bolt_kafka_num" /></p>
		<p ng-if="tempComponent.type=='STORM'">storm_bolt_es_num:<input class="input_hide_hui_eject_sl" ng-model="tempComponent.storm_bolt_es_num" /></p>
		<p ng-if="tempComponent.type!='STORM'"><input class="input_hide_hui_eject" /></p>
		<p ng-if="tempComponent.type!='STORM'&&tempComponent.type!='ELASTICSEARCH'"><input class="input_hide_hui_eject" /></p>
		<p ng-if="tempComponent.type=='ZOOKEEPER'||tempComponent.type=='KAFKA'||tempComponent.type=='FLUME'"><input class="input_hide_hui_eject" /></p>
		<p ng-if="tempComponent.type=='ZOOKEEPER'||tempComponent.type=='KAFKA'||tempComponent.type=='FLUME'"><input class="input_hide_hui_eject" /></p>
		<p ng-if="tempComponent.type=='FRONTEND'||tempComponent.type=='WEB'"><input class="input_hide_hui_eject" /></p>
  	<div class="submit_div">
			<div class="submit_font" ng-click="completeEdit()">提交</div>
		</div>
</div>
</div>
<script>
var id = {{id}};

angular.module('app', ['common'])
.config(function($interpolateProvider) {
  $interpolateProvider.startSymbol('{[{');
  $interpolateProvider.endSymbol('}]}');
})
.controller('controller', ['$scope', 'commonDao', 'commonUtil',
    function($scope, commonDao, commonUtil) {

      $scope.pindex = 0;
      $scope.index = 0;
      $scope.editComponent = function(component, pindex ,index) {
        document.getElementById('light').style.display = 'block';
        document.getElementById('fade').style.display = 'block';
        $scope.pindex = pindex;
        $scope.index = index;
        $scope.tempComponent = angular.copy(component);
      }

      $scope.completeEdit = function() {
        $scope.components[$scope.pindex][$scope.index] = angular.copy($scope.tempComponent);
        document.getElementById('light').style.display='none';
        document.getElementById('fade').style.display='none'
      };

      $scope.tempComponent = commonUtil.serverComponent("ZOOKEEPER");

      $scope.components = [];
      $scope.componentsName = commonUtil.componentsName();
      $scope.colCount = 4;
      $scope.initComponents = function() {
        var componentsLength = $scope.server.components.length;
        var rowCount = Math.ceil((componentsLength + $scope.colCount)/$scope.colCount) - 1;
        for (var i=0;i<rowCount;i++) {
          var row = [];
          for (var j=0; j<$scope.colCount; j++) {
            if((i*$scope.colCount + j )<componentsLength) {
              var item = angular.copy($scope.server.components[i*$scope.colCount + j]);
              row.push(item);
            } else {
              break;
            }
          }
          $scope.components.push(row);
        }
      };

      $scope.changeType = function(pindex, index) {
        return
        var component = $scope.components[pindex][index];
        var install_bs = angular.copy(component.install_bs);
        var type = angular.copy(component.type);
				var id = angular.copy(component.id);
        if (install_bs) {
					$scope.components[pindex][index] = commonUtil.serverComponent(type);
        } else {
					$scope.components[pindex][index] = angular.copy($scope.defaultComponents[type]);
				}
				$scope.components[pindex][index].install_bs = !install_bs;
				$scope.components[pindex][index].id = id;
      };

      $scope.defaultComponents = commonUtil.defaultComponents();

      $scope.validSingleServerComponents = function(valid) {
        alert("还未开发");
        return
        if(valid)
          return
        var obj = commonUtil.serverComponents(id);
        obj.ip = $scope.server.ip;
        obj.hostname = $scope.server.hostname;
        obj.username = $scope.server.username;
        obj.password = $scope.server.password;
        if ($scope.components!=null && $scope.components.length>0 ) {
          for (var i=0;i<$scope.components.length;i++) {
            var row = $scope.components[i];
            if(row!=null&&row.length>0) {
              for (var j=0;j<row.length;j++) {
                obj.components.push(row[j]);
              }
            }
          }
        }
        commonDao.addSingleServerComponents().save(obj, function(data) {
          if (!data.available) {
            commonUtil.go("/single_alarm?id=" + data.id)
          } else {
            commonUtil.go("/single_finish?id=" + data.id)
          }
        });
      };

      $scope.getSingleServerComponents = function() {
        commonDao.getSingleServerComponents().save({'id':id}, function(data) {
          $scope.server = data;
          $scope.initComponents();
        });
      };

      $scope.getSingleServerComponents();
}]);
</script>
</body>
</html>
